<div>
  <div class="container text-center p-4">
    <p class="fs-5">Filtros:</p>
    <div class="d-flex flex-wrap justify-content-center">
    <button (click)="filterReserved()" class="btn btn-primary mx-2">Reservados</button>
    <button (click)="filterNotReserved()" class="btn btn-primary mx-2">Disponíveis</button>
    <button (click)="getVehicles()" class="btn btn-primary mx-2">Todos</button>
  </div>
</div>

  <ul class="d-flex gap-3 flex-wrap m-auto justify-content-center mb-4">
    <li *ngFor="let vehicle of vehicles" class="card text-bg-dark" style="width: 18rem;" >
      <h5 class="card-header">{{vehicle.model}}</h5>
      <div class="card-body border border-primary">
        <div class="row">
          <p class="col">Marca:</p>
          <p class="card-title col">{{vehicle.brand}}</p>
        </div>
        <div class="row">
          <p class="col">Cor:</p>
          <p class="card-text col">{{vehicle.color}}</p>
        </div>
        <div class="row">
          <p class="col">Ano de Fabricação:</p>
          <p class="card-text col">{{vehicle.manufacturingYear}}</p>
        </div>
        <div class="row">
          <p class="col">Placa:</p>
          <p class="card-text col">{{vehicle.licensePlate}}</p>
        </div>
        <div class="d-flex justify-content-between">
          <button (click)="removeVehicle(vehicle)" *ngIf="vehicle.reserve == null" class="btn btn-outline-primary">Excluir</button>
          <div *ngIf="vehicle.reserve == null; else content" >
            <button (click)="reserveVehicle(vehicle)" class="btn btn-outline-primary">Reservar</button>
          </div>
          <ng-template #content>
            <button (click)="openModal(vehicle)" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">Reservado</button>
          </ng-template>
      </div>
    </div>
    </li>
  </ul>

  
</div>

<div class="modal" tabindex="-1" id="exampleModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Você quer cancelar a reserva?</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="closeModal()" ></button>
      </div>
      <div class="modal-body" *ngIf="modal">
        <p>Reserva do {{vehicle.model}}:</p>
        <p>Data de início: {{vehicle.reserve!.initialDate}}</p>
        <p>Data de termino: {{vehicle.reserve!.finalDate}}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary" (click)="removeReserve()" data-bs-dismiss="modal">Deletar</button>
      </div>
    </div>
  </div>
</div>


